@font-face {
    font-family: 'oldnewspapertypesregular';
    src: url('oldnewspapertypes-webfont.woff2') format('woff2'), url('oldnewspapertypes-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroyextrabold';
    src: url('gilroy-extrabold-webfont.woff2') format('woff2'), url('gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'levi_adobe_diaregular';
    src: url('levi_adobe_dia_regular-webfont.woff2') format('woff2'), url('levi_adobe_dia_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
nice {
    font-family: gilroyextrabold;
    font-size: 20px;
    color: white;
}
type {
    font-family: oldnewspapertypesregular;
    font-size: 20px;
    color: #7f0e0e;
}
Dashcam {
    font-family: levi_adobe_diaregular;
    font-size: 25px;
    color: #7f0e0e;
}
body {
    background-image: url(Media/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    text-align: center;
    background-color: white;
    min-width: 700px;
}
#TBCbg {
    /* background-color: #E76161; */
    background-image: url(\Thubnail.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border: 5px;
    border-radius: 20px;
    margin: 50px;
    border-color: #7f0e0e;
    border-style: solid;
}
#JBGbg {
    background-color: #e7af61;
    background-image: url(Imagines/img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border: 5px;
    border-radius: 20px;
    margin: 50px;
    border-color: #e26519;
    border-style: solid;
}
#TBC2 {
    display: none;
}
#JBG2 {
    display: none;
}
